/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: Arial, Helvetica, sans-serif;

  --primary-color: #fff;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

html,
body {
  scroll-behavior: smooth;
}

/* FONTS */
@font-face {
  font-family: "bn_wolfstarrounded";
  src: url("bnwolfstar-rounded-webfont.woff2") format("woff2"), url("bnwolfstar-rounded-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* body {
  background-color: ;
  list-style: none;
} */

/* TEKST START*/
/* h1 {
  font-size: ;
  font-family: ;
  font-weight: ;
} */

/* p {
  font-family: ;
  color: ;
  font-size: ;
  line-height: ;
  font-weight: ;
  max-width: ;
} */
/* a {
  cursor: pointer;
  transition: all 0.55s ease;
} */
/* a:hover {
  color: ;
} */

/* ___________________________ TABLET  ___________________________*/
/* reglerne gælder når skærmen er minimum 768px */
@media screen and (min-width: 768px) {
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
}
