---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header2 from "../components/Header2.astro";
import Liste from "../components/Liste.astro";
import Breadcrumb2 from "../components/Breadcrumb2.astro";
import Accordion from "../components/Accordion.astro";
---

<MainLayout title="Persondatapolitik">
  <section class="header">
    <h1>Persondata&shy;politik</h1>
  </section>

  <article class="accordion">
    <Accordion
      overskrift1="01. Persondatapolitik Hos Barselona.dk"
      text1="Vi indhenter kun persondata i de tilfælde, hvor dette skulle være relevant for os, og vi vil kun indhente persondata, hvis det er relevant for din aktivitet hos Benern Op I/S. Ved indsamling, behandling og anvendelse af dine persondata overholder vi altid alle relevante og gældende lovbestemmelser. Vi vil kun opbevare dine persondata, så længe vi enten er pålagt en juridisk forpligtelse hertil, eller så længe det er relevant for den hensigt, hvormed de blev indsamlet."
      overskrift2="02. Oplysninger vi indsamler"
      text2="Hvis du ønsker at købe og modtage et produkt eller en ydelse fra os, har vi brug for at indsamle visse persondata for at kunne gennemføre handlen og for at kunne tilbyde dig vores services. Vi bruger bl.a. cookies til at holde styr på indholdet i din indkøbskurv, mens du bruger vores webshop. Vi kan indhente oplysninger som f.eks. navn, e-mailadresse, postadresse, leveringsadresse (hvis den varierer fra postadresse), telefonnummer og betalingsoplysninger. Benern Op I/S indsamler og behandler dine persondata, når du foretager dig følgende: Besøger vores hjemmeside"
      overskrift3="03. Den dataansvarlige"
      text3="Den dataansvarlige for indsamling, behandling og anvendelse af dine personoplysninger på: www.barselona.dk er Rasmus Theodor."
      overskrift4="04. Behandlingsgrundlag og formål"
      text4="Dine almindelige kontaktoplysninger som navn og adresse indhenter vi for at kunne levere det produkt eller den ydelse, som du har købt hos os. Din e-mailadresse indhenter vi for at kunne sende dig en ordrebekræftelse samt en leveringsbekræftelse. Dine oplysninger (undtagen din e-mailadresse, hvis du har givet samtykke til behandling heraf med henblik på modtagelse af tilbud) vil blive slettet 5 år efter du har modtaget din vare eller ydelse."
      overskrift5="05. Andre modtagere af personoplysninger"
      text5="Vi sælger ikke dine persondata til tredjemand, og vi overfører ikke dine persondata til tredjelande. Vi har vores hjemmeside hos: simply.com, som fungerer som vores databehandler. Alle persondata som du oplyser på vores hjemmeside vil blive opbevaret i simply.coms datacentre. Vi bruger eksterne virksomheder som leverandører for at levere vores ydelser bedst muligt. Disse eksterne leverandører er databehandlere og behandler i visse tilfælde personoplysninger i forbindelse med deres levering af ydelser til os. Vores databehandlere behandler kun personoplysninger efter vores instrukser og i overensstemmelse med lovgivningens krav til databehandlere. Vi har indgået databehandleraftaler med vores databehandlere, hvilket er vores og din garanti for, at de overholder gældende regler om beskyttelse af dine personoplysninger."
      overskrift6="06. Dine rettigheder"
      text6="Som den registrerede har du en række rettigheder, som vi til enhver tid skal sikre opfyldelse af. Du har ret til at anmode os om følgende: • At få adgang til og få ændret dine persondata • At få slettet persondata Du har derudover ret til at protestere over behandlingen af dine personlige data, og du har ret til at indgive klage til en databeskyttelsesmyndighed. Ønsker du ikke længere, at vi skal behandle dine personoplysninger, eller at vi skal begrænse behandlingen af dine personoplysninger, kan du også sende os en anmodning herom til mail@barselona.dk."
    />
  </article>
</MainLayout>

<style>
  h1 {
    word-break: break-word; /* Bryder ordet på et passende sted */
    hyphens: manual;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>
