---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Header2 from "../components/Header2.astro";
import Accordion from "../components/Accordion.astro";
import Navigation from "../components/Navigation.astro";
---

<MainLayout title="Vilkår og betingelser">
  <Navigation />
  <main>
    <section class="header">
      <Header2 header1="Vilkår og betingelser" />
    </section>

    <section class="accordion">
      <Accordion overskrift1="01. Betaling">
        <p>Benern Op I/S modtager kun betaling via Mobilepay. Ordren vil først blive behandlet, når betaling er fuldført.</p>
        <p>
          <br />
          Som udgangspunkt behandler vi kun ordrer fra og til Danmark. Dette skyldes betalingsmulighederne gennem MobilePay og høje leveringsomkostninger til udlandet.

          <br />
          Ønsker du alligevel at bestille en pakke fra og til udlandet, kan dette arrangeres via <a href="mailto:mail@barselona.dk?">mail@barselona.dk</a>.
        </p>
        <p>
          <br />
          Her kan vi udregne en samlet pris med det ekstra forsendelsesgebyr samt oplyse muligheden for betaling via en bankoverførsel til Benern Op I/S.
        </p>
      </Accordion>

      <Accordion overskrift1="02. Levering">
        <p>Benern Op I/S sørger for levering med Postnord i Danmark. Ordrer er altid sendt afsted så hurtigt som det er muligt.</p>
        <p>
          <br />
          Ordrer bliver sendt afsted som pakker med tracking, og leveringstiden kan forventes at være mellem 1-3 hverdage. Dog kan nogle breve desværre godt være længere undervejs, og det beder vi om forståelse for hvis det er tilfældet.
        </p>
        <p>
          <br />
          Helligdage, sygdom, forsinkelser mm. kan desuden også forsinke leverancer en smule. Vi anbefaler altid at du bestiller gaver i god tid, så en forsinkelse fra posten/fragtmanden ikke ødelægger en højtid.
        </p>

        <p>
          <br />
          Hvis din ordrer ser meget medtaget ud efter transport anbefaler vi at du nægter modtagelse. Det stiller os bedre i forhold til en erstatning og giver os muligheden for hurtigere at kunne sende dig en ny.
        </p>
      </Accordion>

      <Accordion overskrift1="03. Reklamation">
        <p>Benern Op I/S yder 2 års reklamationsret i henhold til købeloven, omfattende fabrikations- og materialefejl, der konstateres ved varens normale anvendelse. Reklamationsretten dækker ikke fejl, skader eller slitage, direkte eller indirekte opstået som følge af forkert betjening, ringe vedligeholdelse, vold eller uautoriserede indgreb.</p>

        <p>
          <br />
          Reklamation over fejl og mangler, som bør opdages ved sædvanlig undersøgelse af varen, skal meddeles Benern Op I/S indenfor rimelig tid. Varen kan efterfølgende returneres for reparation, ombytning eller efter aftale evt. kreditering. I forbindelse med reklamationssager afholder kunden selv returneringsomkostninger.
        </p>
        <p>
          <br />
          Ved fejl, mangler eller evt. udeblevne leverancer bedes henvendelse rettet til:
          <br />
          Benern Op I/S
          <a href="mailto:mail@barselona.dk?"> mail@barselona.dk</a>.
        </p>
      </Accordion>

      <Accordion overskrift1="04. Refusion">
        <p>
          I tilfælde af aftalte dekorter, returnerede varer eller forudbetalte varer som afbestilles før afsendelse, skal der ske en hel eller delvis refusion af købesummen. Refusion sker normalt altid via MobilePay til den afsender som ordren er placeret fra.
          <br />
          Hvis dette ikke er muligt sker de ved bankoverførsel, og Benern Op I/S har derfor brug for oplysninger om registreringsnummer og kontonummer for din bankkonto.
        </p>
        <p>
          <br />
          Disse oplysninger er ikke følsomme, og kan uden videre oplyses pr. email eller anden traditionel korrespondanceform.
        </p>
      </Accordion>

      <Accordion overskrift1="05. Fortrydelsesret">
        <p>
          Du har ret til at træde tilbage fra denne aftale uden begrundelse inden for 14 dage.
          <br />
          Fortrydelsesfristen udløber 14 dage efter den dag, hvor du eller en, som er berettiget til at modtage pakken for dig, dog ikke transportøren, får varerne i fysisk besiddelse. For at udøve fortrydelsesretten skal du meddele os din beslutning om at fortryde denne aftale i en utvetydig erklæring (f.eks. ved postbesørget brev eller e-mail).
        </p>

        <p>
          <br />
          Erklæringen sendes til Benern Op I/S via <a href="mailto:mail@barselona.dk?"> mail@barselona.dk</a>. Fortrydelsesfristen er overholdt, hvis du sender din meddelelse om udøvelse af fortrydelsesretten, inden fortrydelsesfristen er udløbet.
        </p>
      </Accordion>

      <Accordion overskrift1="06. Følger af fortrydelse">
        <p>Hvis du udøver din fortrydelsesret i denne aftale, refunderer vi alle betalinger modtaget fra dig, dog ikke leveringsgebyr, uden unødig forsinkelse og under alle omstændigheder senest 14 dage fra den dato, hvor vi har modtaget meddelelse om din beslutning om at fortryde denne aftale. Vi gennemfører en sådan tilbagebetaling med samme betalingsmiddel, som du benyttede ved den oprindelige transaktion.</p>

        <p>
          <br />
          Vi kan tilbageholde tilbagebetalingen, indtil vi har modtaget varerne retur, eller du har fremlagt dokumentation for at have returneret varerne, alt efter hvad der er tidligst. Du returnerer varerne eller afleverer dem til os uden unødig forsinkelse og senest 14 dage fra den dato, hvor du har informeret os om udøvelsen af aftalens fortrydelsesret. Fristen er overholdt, hvis du returnerer varerne inden udløbet af de 14 dage.
        </p>

        <p>
          <br />
          Du skal afholde de direkte udgifter i forbindelse med tilbagelevering af varerne. Du hæfter kun for eventuel forringelse af varernes værdi, som skyldes anden håndtering, end hvad der er nødvendigt for at fastslå varernes art, egenskaber og den måde, de fungerer på. Det vil fx sige, at du må prøve en trøje, men ikke bruge den.
        </p>

        <p>
          <br />
          Vi anser brugt tøj for at have en værdi af kr. 0.-, da vi ikke sælger brugte varer. Dette er også for at sikre, at du ikke modtager en vare, som er brugt.
        </p>
      </Accordion>
    </section>
  </main>

  <style>
    .header {
      display: flex;
      justify-content: center;
    }
    section .accordion {
      padding-top: 0px;
    }
    p {
      max-width: none;
    }

    a {
      text-decoration: underline;
    }

    a:hover {
      color: var(--color_blue);
    }
  </style>
</MainLayout>
