---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Koncertdato from "../components/Koncertdato.astro";
import Timer from "../components/Timer.astro";
import Header2 from "../components/Header2.astro";
import TextKasse from "../components/TextKasse.astro";
import Citat from "../components/Citat.astro";
---

<MainLayout title="Barselona | Koncerter">
  <article class="koncerter_baggerund">
    <section class="hero_items">
      <Header2 header1="Koncerter 2024" />
      <div class="to_links">
        <div class="lyt">
          <a href="#tour" class="listen-link"><img src="/iconer2/IconArrowDown.svg" alt="pil ned" /></a>

          <a href="#mutoursik" class="listen-link"> Efterårstour</a>
        </div>
        <div class="lyt">
          <a href="#festivaler" class="listen-link"><img src="/iconer2/IconArrowDown.svg" alt="pil ned" /></a>

          <a href="#mufestivallersik" class="listen-link"> Festivaler</a>
        </div>
      </div>
    </section>
  </article>

  <section id="tour">
    <Citat citat="Efterårstour 2024">
      <div class="timer_effekt"><Timer /></div>
    </Citat>
  </section>

  <section class="koncerter_grid" id="grid1">
    <div class="koncert_content"><Koncertdato sted="Næstved" dato="13.09.2024" lokation="Næstved, Vershuset" buttonProps={{ linket: "https://vershuset.dk/event/barselona/" }} buttonProps2={{ linket: "#" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Skjern" dato="14.09.2024" lokation="Skjern, Remisen" buttonProps={{ linket: "https://remisenskjern.dk/program/barselona" }} buttonProps2={{ linket: "https://www.facebook.com/events/781464630082262/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Svendborg" dato="20.09.2024" lokation="Svendborg, Borgerforeningen" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546159" }} buttonProps2={{ linket: "https://www.facebook.com/events/1265590907733028/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Nørup" dato="25.09.2024" lokation="Nørup, Engelsholm Slot" buttonProps={{ linket: "https://billetto.dk/e/barselona-billetter-961321" }} buttonProps2={{ linket: "https://www.facebook.com/events/2704078069754342/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Sønderborg" dato="29.09.2024" lokation="Sønderborghus" buttonProps={{ linket: "https://sonderborghus.dk/events/barselona/" }} buttonProps2={{ linket: "https://www.facebook.com/events/1104865730654632/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Horsens" dato="12.10.2024" lokation="Horsens Ny Teater" buttonProps={{ linket: "https://horsensnyteater.dk/program/barselona/" }} buttonProps2={{ linket: "https://www.facebook.com/events/335923698918058/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Flensborg" dato="17.10.2024" lokation="Tyskland, Flensborghus" buttonProps={{ linket: "https://ssf.billetten.dk/index/chooseprice/showid/340483/type/1?" }} buttonProps2={{ linket: "" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Skive" dato="18.10.2024" lokation="Skive Teater" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546189" }} buttonProps2={{ linket: "https://www.facebook.com/events/1606456300180339/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="Helsingør" dato="19.10.2024" lokation="Helsingør, Toldkammeret" buttonProps={{ linket: "https://kuto.dk/arrangementer/barselona/#select/121795" }} buttonProps2={{ linket: "https://www.facebook.com/events/2393646234163290/" }} /></div>

    <div class="koncert_content"><Koncertdato sted="København" dato="26.10.2024" lokation="København, Falkoner Salen" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546249" }} buttonProps2={{ linket: "https://www.facebook.com/events/1596848301105564/" }} /></div>
  </section>

  <section id="festivaler" class="festivaler">
    <Citat citat="Festivaler sommeren 2024">
      <!-- <div class="timer_effekt"><p>Fang os på festivalerne landet rundt til sommer!</p></div> -->
    </Citat>
  </section>
  <section class="koncerter_grid">
    <div><Koncertdato sted="Northside" dato="8.06.2024" lokation="Aahus, Northside" buttonProps={{ linket: "https://www.ticketmaster.dk/event/partout-northside-2024-billetter/541071" }} buttonProps2={{ linket: "https://northside.dk/artister/barselona/" }} /></div>
    <div><Koncertdato sted="Roskilde Festival" dato="06.07.2024" lokation="Roskilde, Roskilde Festival" buttonProps={{ linket: "https://www.roskilde-festival.dk/billetter" }} buttonProps2={{ linket: "https://www.roskilde-festival.dk/program/musik/barselona" }} /></div>
    <div><Koncertdato sted="Gæsten" dato="23.07.2024" lokation="Allinge, Gæstgiveren" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/547053" }} buttonProps2={{ linket: "https://www.facebook.com/events/1081549736263668/" }} /></div>
    <div><Koncertdato sted="Suset Festival" dato="16.08.2024" lokation="Esbjerg, Esbjerghavn" buttonProps={{ linket: "https://www.livenation.dk/show/1468075/suset-festival-2024/esbjerg/2024-08-16" }} buttonProps2={{ linket: "https://www.ticketmaster.dk/event/suset-festival-2024-partout-fre-lor-billetter/543975" }} /></div>
    <div><Koncertdato sted="Landsbyen" dato="17.08.2024" lokation="Odense, Den Fynske Landsby" buttonProps={{ linket: "https://www.ticketmaster.dk/event/tim-christensen-barselona-billetter/540235" }} buttonProps2={{ linket: "https://www.facebook.com/events/591824959683988/" }} /></div>
  </section>
</MainLayout>

<style>
  .koncerter_baggerund {
    background-image: url(https://esterpiazza.dk/kea/10_eksamen/side_om_dem/magien_i_det_uventede.avif);
    background-size: cover;
    aspect-ratio: 16/9;
  }
  .koncerter_baggerund2 {
    background-image: url(https://esterpiazza.dk/kea/10_eksamen/side_om_dem/tivoli2.avif);
    background-size: cover;
    aspect-ratio: 16/5;
    padding-top: 30px;
  }

  .hero_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 125px;
  }

  .to_links {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .lyt {
    display: flex;
    align-items: center;
    padding-top: 5%;
  }
  .lyt img {
    max-width: 30px;
    align-self: center;
  }

  .lyt a {
    font-size: var(--font_size_small);
  }
  .listen-link {
    display: flex;
    align-items: center;
  }
  .listen-link:hover {
    color: var(--color_blue);
    text-decoration: none;
  }

  .koncerter_grid {
    padding-top: 30px;
  }
  #grid1 {
    margin-bottom: 80px;
  }

  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    .koncerter_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-top: 30px;
      gap: 64px;
    }
    #grid1 {
      margin-bottom: 90px;
    }

    .lyt a {
      font-size: var(--font_size_small);
    }
    .festivaler {
      padding-bottom: 90px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .hero_items {
      padding-top: 125px;
    }
    .lyt {
      padding-top: 20px;
    }
    .lyt a {
      font-size: var(--font_size_regular);
    }
  }
</style>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
  window.addEventListener("load", () => {
    const sr = ScrollReveal({
      distance: "160px",
      duration: 1350,
      easing: "ease-out",
    });

    sr.reveal(".billede_indhold2, .tekst_indhold1, .citat_billede1", { delay: 110, origin: "left" });
    sr.reveal("", { delay: 110, origin: "bottom" });
    sr.reveal(".citat, .timer_effekt", { delay: 110, origin: "top" });
    sr.reveal(".tekst_indhold2, .tekst_indhold2, .citat_billede2", { delay: 110, origin: "right" });
  });
</script>
