---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Koncertdato from "../components/Koncertdato.astro";
import Timer from "../components/Timer.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Koncerter">
  <article class="baggrund">
    <section>
      <div class="header">
        <h1>Barselona</h1>
        <p class="tour">Efterårs tour 2024</p>
      </div>
      <div>
        <Timer />

        <div class="knapper">
          <div class="lyt">
            <a href="#festivaller" class="listen-link"><img src="/iconer2/IconArrowDown.svg" alt="pil ned" /></a>

            <a href="#festivaller" class="listen-link"> Se festivaller</a>
          </div>
          <!-- <Button style="tredje" linket="#festivaller">Se festivaller</Button> -->
          <Button style="tredje" linket="">Køb billet</Button>
        </div>
      </div>
    </section>
  </article>

  <article class="content">
    <section><h2>Kommende shows</h2></section>
  </article>
  <section class="koncerter">
    <div>
      <Koncertdato sted="Næstved" dato="13.09.2024" lokation="Næstved, Vershuset" buttonProps={{ linket: "https://vershuset.dk/event/barselona/" }} buttonProps2={{ linket: "#" }} />
      <Koncertdato sted="Skjern" dato="14.09.2024" lokation="Skjern, Remisen" buttonProps={{ linket: "https://remisenskjern.dk/program/barselona" }} buttonProps2={{ linket: "https://www.facebook.com/events/781464630082262/" }} />
      <Koncertdato sted="Svendborg" dato="20.09.2024" lokation="Svendborg, Borgerforeningen" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546159" }} buttonProps2={{ linket: "https://www.facebook.com/events/1265590907733028/" }} />
      <Koncertdato sted="Nørup" dato="25.09.2024" lokation="Nørup, Engelsholm Slot" buttonProps={{ linket: "https://billetto.dk/e/barselona-billetter-961321" }} buttonProps2={{ linket: "https://www.facebook.com/events/2704078069754342/" }} />
      <Koncertdato sted="Sønderborg" dato="29.09.2024" lokation="Sønderborghus" buttonProps={{ linket: "https://sonderborghus.dk/events/barselona/" }} buttonProps2={{ linket: "https://www.facebook.com/events/1104865730654632/" }} />
    </div>
    <div>
      <Koncertdato sted="Horsens" dato="12.10.2024" lokation="Horsens Ny Teater" buttonProps={{ linket: "https://horsensnyteater.dk/program/barselona/" }} buttonProps2={{ linket: "https://www.facebook.com/events/335923698918058/" }} />
      <Koncertdato sted="Flensborg" dato="17.10.2024" lokation="Tyskland, Flensborghus" buttonProps={{ linket: "https://ssf.billetten.dk/index/chooseprice/showid/340483/type/1?" }} buttonProps2={{ linket: "" }} />
      <Koncertdato sted="Skive" dato="18.10.2024" lokation="Skive Teater" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546189" }} buttonProps2={{ linket: "https://www.facebook.com/events/1606456300180339/" }} />
      <Koncertdato sted="Helsingør" dato="19.10.2024" lokation="Helsingør, Toldkammeret" buttonProps={{ linket: "https://kuto.dk/arrangementer/barselona/#select/121795" }} buttonProps2={{ linket: "https://www.facebook.com/events/2393646234163290/" }} />
      <Koncertdato sted="København" dato="26.10.2024" lokation="København, Falkoner Salen" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/546249" }} buttonProps2={{ linket: "https://www.facebook.com/events/1596848301105564/" }} />
    </div>
  </section>

  <article class="festivaler" id="festivaller">
    <h2>Festivaler</h2>
  </article>
  <section class="koncerter">
    <div>
      <Koncertdato
        sted="Fredagsrock"
        dato="24.05.2024"
        lokation="København, Tivoli"
        buttonProps={{ linket: "https://tivoli.dk/da/billetter-og-tivolikort/fredagsrock?_gl=1*1elv6o*_gcl_aw*R0NMLjE3MTYxMDk5NzEuQ2owS0NRand4cWF5QmhERkFSSXNBQU5XUm5TQko3MnZFa2FPdEh6TDRrY2sxR09obTk1WGJSNkxobjIzZzRfWjdJcEVSM3NISHZ2Z0VsY2FBb2lURUFMd193Y0I.*_gcl_au*MTEyNjIzNzY4OS4xNzE1MDc2MDgx*_up*MQ..*_ga*MTIzMjUwNTM4My4xNzE1MDc2MDgx*_ga_Z1V7EM2RQ2*MTcxNjEwOTk3MC4zLjAuMTcxNjEwOTk3MC4wLjAuNDYyMTIzNDE5*_ga_QDWY0DDVKX*MTcxNjEwOTk3MC4zLjAuMTcxNjEwOTk3MC4wLjAuMTY5NzAwNzQ0MQ..&gclid=Cj0KCQjwxqayBhDFARIsAANWRnSBJ72vEkaOtHzL4kck1GOhm95XbR6Lhn23g4_Z7IpER3sHHvvgElcaAoiTEALw_wcB&_ga=2.2872240.1495674400.1716109971-1232505383.1715076081&_gac=1.188724698.1716109971.Cj0KCQjwxqayBhDFARIsAANWRnSBJ72vEkaOtHzL4kck1GOhm95XbR6Lhn23g4_Z7IpER3sHHvvgElcaAoiTEALw_wcB" }}
        buttonProps2={{ linket: "https://www.tivoli.dk/da/kultur-og-program/musik/2024/fredagsrockbarselonapil22240524?gad_source=1&gclid=Cj0KCQjwxqayBhDFARIsAANWRnSBJ72vEkaOtHzL4kck1GOhm95XbR6Lhn23g4_Z7IpER3sHHvvgElcaAoiTEALw_wcB" }}
      />
    </div>
    <div><Koncertdato sted="Northside" dato="8.06.2024" lokation="Aahus, Northside" buttonProps={{ linket: "https://www.ticketmaster.dk/event/partout-northside-2024-billetter/541071" }} buttonProps2={{ linket: "https://northside.dk/artister/barselona/" }} /></div>
    <div><Koncertdato sted="Roskilde Festival" dato="06.07.2024" lokation="Roskilde, Roskilde Festival" buttonProps={{ linket: "https://www.roskilde-festival.dk/billetter" }} buttonProps2={{ linket: "https://www.roskilde-festival.dk/program/musik/barselona" }} /></div>
    <div><Koncertdato sted="Gæsten" dato="23.07.2024" lokation="Allinge, Gæstgiveren" buttonProps={{ linket: "https://www.ticketmaster.dk/event/barselona-billetter/547053" }} buttonProps2={{ linket: "https://www.facebook.com/events/1081549736263668/" }} /></div>
    <div><Koncertdato sted="Suset Festival" dato="16.08.2024" lokation="Esbjerg, Esbjerghavn" buttonProps={{ linket: "https://www.livenation.dk/show/1468075/suset-festival-2024/esbjerg/2024-08-16" }} buttonProps2={{ linket: "https://www.ticketmaster.dk/event/suset-festival-2024-partout-fre-lor-billetter/543975" }} /></div>
    <div><Koncertdato sted="Landsbyen" dato="17.08.2024" lokation="Odense, Den Fynske Landsby" buttonProps={{ linket: "https://www.ticketmaster.dk/event/tim-christensen-barselona-billetter/540235" }} buttonProps2={{ linket: "https://www.facebook.com/events/591824959683988/" }} /></div>
  </section>
</MainLayout>

<style>
  .baggrund {
    background: url(https://esterpiazza.dk/kea/10_eksamen/radial.avif);
    background-size: cover;
  }
  .koncerter {
    display: block;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  h4 {
    text-transform: uppercase;
  }
  .baggrund p {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .knapper {
    display: flex;
    gap: 60px;
    justify-content: flex-end;
  }
  .lyt {
    display: flex;
    align-items: center;
  }
  .lyt img {
    max-width: 30px;
    align-self: center;
  }
  .listen-link {
    display: flex;
    align-items: center;
  }

  .lyt a {
    font-size: var(--font_size_small);
  }
  .listen-link:hover {
    color: var(--color_blue);
    text-decoration: none;
  }
  h2 {
    text-align: center;
  }

  .festivaler {
    padding: 80px;
    aspect-ratio: 1440/406;
  }
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    .koncerter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 64px;
    }
    .baggrund {
      background: url(https://esterpiazza.dk/kea/10_eksamen/radial.avif);
      background-size: cover;
      padding: 80px;
      aspect-ratio: 1440/714;
    }
    /* .koncerter {
      display: block;
    } */
    .header {
      display: flex;
      flex-direction: column;
    }
    h4 {
      text-transform: uppercase;
    }
    .baggrund p {
      font-size: 2.5rem;
      font-weight: bolder;
    }
    .knapper {
      display: flex;
      gap: 60px;
      justify-content: flex-end;
    }
    h2 {
      text-align: center;
    }

    .festivaler {
      background: url(https://esterpiazza.dk/kea/10_eksamen/radial_festival.avif);
      background-size: cover;
      padding: 80px;
      aspect-ratio: 1440/406;
    }
    .lyt {
      padding-top: 10px;
      grid-area: 5 / 3 / 6 / 5;
    }
    .lyt img {
      max-width: 30px;
    }
    .lyt a {
      font-size: var(--font_size_regular);
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .lyt {
      padding-top: 20px;
      grid-area: 8 / 2 / 9 / 4;
    }
  }
</style>
