---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header1 from "../components/Header1.astro";
---

<MainLayout>
  <!-- <h1>forside</h1> -->
  <section>
    <Header1 header1="Barselona" header2="Efterår 2024" />
  </section>
</MainLayout>
