---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header2 from "../components/Header2.astro";
import Produkt from "../components/Produkt.astro";
import Breadcrumb2 from "../components/Breadcrumb2.astro";
---

<MainLayout title="Merchandise">
   <!-- <h1>forside</h1> -->
  <section>
      <Header2 header1="Merchandise" text="" />
      
      <article class="breadcrumb_button">
       <Breadcrumb2 navn1="Tøj" navn2="Accessories" navn3="Musik" navn4="Poster"/>
      <Button style="secondary">Se alle</Button>
      </article>
  </section>

  <section class="produkter">
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
    <Produkt foto="https://esterpiazza.dk/kea/10_eksamen/Image.png" name="Væbne Hjerte Sølv Vinyl" variant="Vinyl" price="229,-" />
  </section>
</MainLayout>

<style>{

}
  .breadcrumb_button {
    display: flex;
justify-content: space-between;
align-items: center;
  } 
  .produkter {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
</style>
