---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header2 from "../components/Header2.astro";
import Breadcrumb2 from "../components/Breadcrumb2.astro";
import Singleview from "../components/Singleview.astro";
---

<MainLayout title="Produkt">
  <section>
    <Breadcrumb2 navn1="Merchandise" navn2="Tøj" navn3="Logo Hoodie" />
    <Singleview />
  </section>
</MainLayout>

<style>
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    section {
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    /* TEKST START*/
  }
</style>
