---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header2 from "../components/Header2.astro";
import Breadcrumb2 from "../components/Breadcrumb2.astro";
import Singleview from "../components/Singleview.astro";
---

<MainLayout title="Produkt">
  <section>
    <Breadcrumb2 navn1="Merchandise" navn2="Tøj" navn3="Logo Hoodie" />
    <Singleview />
  </section>
</MainLayout>
