---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import LytMusik from "../components/LytMusik.astro";
import LyseNaetter from "../components/LyseNaetter.astro";
import KasseText from "../components/KasseText.astro";
import KasseText2 from "../components/KasseText2.astro";
---

<MainLayout title="Om Barsekona">
  <article>
    <video autoplay muted loop src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/barselonavideomp4.webm"></video>
  </article>

  <section>
    <KasseText h2="Magien i Det Uventede" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/barselona2.avif" image_alt="Rud og Rasmus sidder">
      <p style="font-style: italic;">De Uforglemmelige Øjeblikke Vi Ikke Kan Planlægge</p>
      <p>
        <br />
        Vi bruger ofte meget tid og energi på at forberede os og planlægge alt ned til mindste detalje. Vi går og tænker det hele igennem, forsøger at tage højde for alle mulige scenarier og sikre, at alt forløber som forventet. Ironisk nok er det ofte de øjeblikke der ender med at være de mest mindeværdige.
      </p>
      <p>
        <br />
        For både os selv og for publikum er det netop disse øjeblikke, der gør størst indtryk. De er autentiske og ægte, og de skaber en særlig forbindelse og intensitet, som planlagte øjeblikke sjældent kan matche. Det er i disse uforudsete øjeblikke, at magien ofte opstår, og vi oplever noget unikt og uforglemmeligt
      </p>
    </KasseText>
  </section>

  <section>
    <KasseText h2="Øjeblikkets Kraft" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/plakat2.avif" image_alt="Rud og Rasmus i Grotten" col="col2">
      <p style="font-style: italic;">Magien af Uventet Fællesskab</p>
      <p>
        <br />
        Der blev sunget tilbage mod scenen nede fra salen på en måde, vi aldrig havde oplevet før. Det syn var næsten umuligt at beskrive. Der var ikke én person i salen, som ikke hoppede i takt. Uanset alder var alle grebet af stemningen. Disse øjeblikke er dem, både vi og publikum vil huske.
      </p>
      <p>
        <br />
        Man ved jo godt, at det aldrig kommer til at ske igen. Det der lige er sket. Det kan godt være, vi spiller nogle af de samme sange dagen efter, men lige præcis det, man oplever lige nu, det sker aldrig igen. Det er næsten for vildt at stå og tænke over. For så ved jeg heller ikke, om man kan nyde det fuldt ud.
      </p>
    </KasseText>
  </section>

  <section>
    <KasseText h2="Live Musikens Betydning" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/barselona2.avif" image_alt="Rud og Rasmus sidder">
      <p style="font-style: italic;">Forbindelsen mellem Os og Publikum</p>
      <p>
        <br />
        Vi har meget brug for at se de mennesker, der lytter. Vi kan i hvert fald ikke forholde mig til lyttertal. Vi har brug for at se, hvad sangene kan i en live-kontekst. Og se, at der er nogen, der har et forhold til dem.
      </p>
      <p>
        <br />
        Det er som om, det gik op for en, at det er grunden til, at vi skriver sangene. Grunden til, at vi har brugt så lang tid på at skrive en plade, er for at komme ud og spille den live.
      </p>
    </KasseText>
  </section>
  <!-- DET NYE TEKST -->

  <section>
    <!-- <h1>Starten på Barselona</h1> -->
    <KasseText h2="Starten på Barselona" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/barselona2.avif" image_alt="Rud og Rasmus sidder">
      <p>Barselona er et musikalsk projekt født af en fælles ambition om at udforske grænselandet mellem dansksproget pop- og rockmusik.</p>
      <p>
        <br />
        Barselona, opkaldt efter deres højgravide lærer, Lone, består af Rud Aslak (født 8. april 2000) og Rasmus Theodor (født 20. marts 1999), som dannede bandet på musikefterskolen Ollerup på Fyn i 2016.
      </p>
      <p style="font-weight:bold">
        <br />
        Kontraster og Inspiration
      </p>

      <p>
        <br />
        “Vi er slet ikke ens, vi er fuldkomne modsætninger.”
      </p>

      <p>
        <br />
        “Jeg kan godt lide at lege med alle mine synths og give musikken et 'spacy' udtryk” - Rasmus
      </p>
      <p>
        <br />
        “Jeg tager ofte den mere følsomme og dybe vinkel.” - Rud
      </p>
      <p>
        <br />
        “Det er nok også en af grundene til, at musikken får den karakter, den får.”
      </p>
    </KasseText>
  </section>

  <section class="billeder">
    <div class="billede1"><img src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/grotten1.avif" alt="Rasmus fra Barselona" loading="lazy" /></div>
    <div class="billede2"><img src="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/grotten2.avif" alt="Rud fra Barselona" loading="lazy" /></div>
  </section>

  <section>
    <KasseText h2="Rejsen sammen" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/plakat2.avif" image_alt="Rud og Rasmus i Grotten" col="col2">
      <p>Barselona blev dannet i 2016, hvor Rud Aksel og Rasmus Theodor havde en fælles drøm om, at skabe nye baner inden for pop- og rockmusik.</p>
      <p>
        Vi stræber altid efter at være autentiske og ærlige med alt, hvad vi laver. vi definerer ikke os selv inden for en bestemt genre, det svinger meget og kommer meget an på hvilken dag det er, hvorhenne i livet vi er, og hvor vi er med vores musik.
        <br />
        Vi går meget op i, at vores musik skal laves ordentligt. Vi skal ikke bare udgive noget bare for at udgive noget. Det tager tid at bygge noget godt op, og det har vi også accepteret. Derfor tog det os også 3 år at lave et album, men det blev præcis som vi ville have det, og vi kan stå inde for det, og derfor er vi også ærlige.
        <br />
        - Rasmus
      </p>
    </KasseText>
  </section>
  <section>
    <KasseText h2="Grotten" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/plakat1.avif" image_alt="Rud og Rasmus i Grotten">
      <p>Musikken startede nede i "Grotten". Grotten er et lille musikstudie, og det er her, alt musik bliver skabt. Grotten er ikke kun et lille rum, men også stedet, hvor vi henter al vores inspiration fra, alt fra plakater, lyskæder og skulpturer til alverdens små ting.</p>
      <p>Vores vægge er blevet godt pyntet op gennem årene, og der kommer hele tiden nye ting til, fx souvenirs fra rejser eller tegninger der lavet hernede.</p>
      <p>Mange af vores sange bliver også inspireret af tingene hernede. Derfor elsker vi at tage ligegyldige ting med, fordi vi pludselig kan få en idé ved at kigge på en ting, og så kan der blive lavet en sang ud af det.</p>
      <p>
        <br />
        - Rud
      </p>
    </KasseText>
  </section>
  <section>
    <KasseText image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/af_dem1.avif" image_alt="Rud og Rasmus sidder" col="col2">
      <p>“Rud Aksel er født til at være frondtmand for sin generations største rockband.“</p>
      <p>Soundvenue engang skrevet, at Rud er født til at være frontmand for sin generations største rockband. Det synes vi lyder ret fedt, og som en mission vi vil ønske at kunne leve op til. - Rasmus</p>
    </KasseText>
  </section>

  <section>
    <KasseText h2="forevige koncerterne" image="https://esterpiazza.dk/kea/10_eksamen/side_om_dem/koncertbillede.avif" image_alt="Rud og Rasmus sidder">
      <p>Med hjælp fra søde koncertgæster landet over, personalet på spillestederne og vores eget band og crew er det lykkedes os at fastfryse alle de små stunder som medvirker til at gøre en koncert til en ekstraordinær oplevelse. Lige fra opvarmningen derhjemme, turen til spillestedet, spændingen før koncerten, fællessang og dans under koncerten og euforien på hjemturen. Disse oplevelser er ellers så flygtige, men nu har vi altså kunnet gemme små glimt fra alle vinkler til eftertiden.</p>
      <p>
        <br />
        Alt dette er enormt rørende for os at se. Især fordi det giver os et unikt indblik i de mange stunder vi får lov at lægge musik til. Samtidig har det været en anledning for os til at reflektere over hvilken betydning koncerterne har for os, forud for en tour hvor netop det at komme hele landet rundt er en hovedprioritet for os.
        <br />
        Tak for hjælpen til alle der kom på efterårstouren. Vi glæder os til mange flere øjeblikke med jer til de kommende koncerter.
      </p>
    </KasseText>
  </section>
  <section>
    <KasseText2 h2="Væbnet Hjerter">
      <p>I vores unge dage var det ikke vigtig for os, at musikken havde en speciel betydning, vi ville tage ud og give den gas og optræde foran alle og mærke publikum. Så ville vi tage hjem og skrive en sang hurtig, så vi kunne udgive noget og komme ud igen og optræde.</p>
      <p>
        <br />
        <br />
        Det var en rus vi fik igennem kroppen, vi blev afhængige af det. Men rusen forsvandt og corona kom og hele landet blev lukket ned. Efter en lang pause begyndte vi og skrive musik sammen igen, og vi besluttede os for, at det skulle være på en ny måde. Vi fik udviklet et album, der for første gang er blevet en projekt, der betyder meget for os. Det er lavet med alt vores energi, og vi har lagt så meget tid i det, og gjort det perfekt ned til mindste detalje.
      </p>
      <p>
        <br />
        <br />
        Albummet Væbnet Hjerter er et 3 årig projekt, der er lavet med tålmodighed. Under processen har der været en del udfordringer. Det er første gang i vores karriere, at vi har haft så meget modgang, og tvivl, samt tvivl på os selv. Hvad vil vi? Hvem er vi? Hvor vil vi hen? Vi har skulle bakke hinanden meget op, og fortælle at os selv hele tiden at det nok skulle gå. Vi kunne slet ikke se lys for enden af tunellen.
      </p>
    </KasseText2>
  </section>
  <section class="musik">
    <LytMusik />
  </section>
  <section>
    <article class="lyse">
      <LyseNaetter />
    </article>
  </section>
</MainLayout>

<style>
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .billeder {
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  .billede1 img,
  .billede2 img {
    opacity: 0;
    transform: translateY(20px); /* Adjust as needed */
    transition:
      opacity 0.6s ease-out,
      transform 0.6s ease-out; /* Adjust timing as needed */
  }

  .billede1 img.in-view,
  .billede2 img.in-view {
    opacity: 1;
    max-width: 80%;
  }
  .billede1 img.in-view {
    transform: translateY(0) rotate(-15deg);
  }

  .billede2 img.in-view {
    transform: translateY(0) rotate(15deg);
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    .start {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .lyse {
      background-image: url(https://esterpiazza.dk/kea/10_eksamen/radial_lyse.avif);
      background-size: cover;
      aspect-ratio: 1440/1030;
    }
    .billeder {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .billede1 img.in-view,
    .billede2 img.in-view {
      max-width: 60%;
    }
  }

  @media screen and (min-width: 1024px) {
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const options = {
      root: null, // Use the viewport as the root
      rootMargin: "0px",
      threshold: 0.1, // Adjust as needed
    };

    const callback = (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("in-view");
          observer.unobserve(entry.target); // Stop observing once the element is in view
        }
      });
    };

    const observer = new IntersectionObserver(callback, options);

    const images = document.querySelectorAll(".billede1 img, .billede2 img");
    images.forEach((image) => {
      observer.observe(image);
    });
  });
</script>
