---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Videoafspiller from "../components/Videoafspiller.astro";
import OneVideo from "../components/OneVideo.astro";
---

<MainLayout title="Videoer">
  <section>
    <Videoafspiller />
  </section>

  <section class="videoer_galleri">
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/reallove.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/lydenaflivetlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/menneskemodmenneske.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/ingenkanloebelive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/endeloesedroemme.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/fangetlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/landsby.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/minenesterus.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/endagminde.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/vierherikke.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/ildebrand.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/northside.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/forfoermig.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/frawienlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/fridag.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/etaar.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/densidstesang.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/barcelona.webp" loading="lazy" />
  </section>
</MainLayout>

<style>
  .videoer_galleri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: clamp(1rem, 2vw, 1rem);
  }
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .videoer_galleri {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
      grid-gap: clamp(1rem, 2vw, 1rem);
    }
  }
</style>
