---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header2 from "../components/Header2.astro";
import Videoafspiller from "../components/Videoafspiller.astro";
import EnVideo from "../components/EnVideo.astro";
---

<MainLayout title="Videoer">
  <!-- <h1>forside</h1> -->
  <section>
    <Videoafspiller />
  </section>
  <section class="videoer_galleri">
    <EnVideo />
    <EnVideo />
    <EnVideo />
    <EnVideo />
    <EnVideo />
    <EnVideo />
    <EnVideo />
    <EnVideo />
  </section>
</MainLayout>

<style>
  .videoer_galleri {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
</style>
