---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Videoafspiller from "../components/Videoafspiller.astro";
import OneVideo from "../components/OneVideo.astro";
import Header2 from "../components/Header2.astro";
---

<MainLayout title="Barselona | Videoer">
  <section>
    <Videoafspiller />
  </section>

  <section class="videoer_galleri">
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/reallove.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/lydenaflivetlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/menneskemodmenneske.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/ingenkanloebelive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/endeloesedroemme.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/fangetlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/landsby.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/minenesterus.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/endagminde.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/vierherikke.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/ildebrand.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/northside.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/forfoermig.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/frawienlive.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/fridag.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/etaar.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/densidstesang.webp" loading="lazy" />
    <OneVideo image="https://esterpiazza.dk/kea/10_eksamen/videoer/barcelona.webp" loading="lazy" />
  </section>
</MainLayout>

<style>
  .hero_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }
  .videoafspiller {
    padding-bottom: 32px;
  }
  .videoer_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    justify-content: center;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    .videoer_galleri {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .videoer_galleri {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
