---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Header2 from "../components/Header2.astro";
import Mail from "../components/Mail.astro";
---

<MainLayout title="Barselona | Kontakt">
  <section class="hero_items">
    <Header2 header1="Kontakt os" />
  </section>
  <section class="mails">
    <article>
      <Mail overskrift="Henvendelser vedr. barselona.dk" link="mailto:mail@barselona.dk?"> mail@barselona.dk</Mail>
      <Mail overskrift="Management" link="mailto:jonas@sierra79.com?" text="Jonas Fjelding"> jonas@sierra79.com</Mail>
      <Mail overskrift="Booking" link="mailto:soren@sierra79.com?" text="Søren Mensberg"> soren@sierra79.com</Mail>
      <Mail overskrift="Lable" link="mailto:louis.tvede@umusic.com?" text="Louis Tvede"> louis.tvede@umusic.com</Mail>
    </article>

    <article class="billede">
      <img src="https://esterpiazza.dk/kea/10_eksamen/indhold/rud_rasmus.avif" alt="Rud og Rasmus fra Barselona" />
    </article>
  </section>
</MainLayout>

<style>
  .hero_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 125px;
  }

  @media screen and (min-width: 768px) {
    .mails {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 80px;
    }
  }

  @media screen and (min-width: 1024px) {
    .hero_items {
      padding-top: 125px;
    }

    .mails {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
