---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Header2 from "../components/Header2.astro";
import Mail from "../components/Mail.astro";
---

<MainLayout title="Barselona | Kontakt">
  <section class="content">
    <div class="mails">
      <div class="mails_grid">
        <h1>Kontakt os</h1>
        <Mail overskrift="Henvendelser vedr. barselona.dk" link="mailto:mail@barselona.dk?"> mail@barselona.dk</Mail>
        <Mail overskrift="Management" link="mailto:jonas@sierra79.com?" text="Jonas Fjelding"> jonas@sierra79.com</Mail>
        <Mail overskrift="Booking" link="mailto:soren@sierra79.com?" text="Søren Mensberg"> soren@sierra79.com</Mail>
        <Mail overskrift="Lable" link="mailto:louis.tvede@umusic.com?" text="Louis Tvede"> louis.tvede@umusic.com</Mail>
      </div>

      <div class="billede">
        <img src="https://esterpiazza.dk/kea/10_eksamen/indhold/rud_rasmus.avif" alt="Rud og Rasmus fra Barselona" />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .mails {
    display: flex;
    flex-direction: column;

    padding-top: 80px;
    margin-bottom: 125px;
  }
  .content {
    padding-top: 8%;
  }
  h1 {
    padding-bottom: 44px;
  }

  @media screen and (min-width: 768px) {
    .mails {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 80px;
    }
  }

  @media screen and (min-width: 1024px) {
    .mails {
      padding-top: 125px;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
