---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
import Header1 from "../components/Header1.astro";
import Header2 from "../components/Header2.astro";
import Koncertdato from "../components/Koncertdato.astro";
import Breadcrumb2 from "../components/Breadcrumb2.astro";
import Accordion from "../components/Accordion.astro";
---

<MainLayout title="Forside">
  <!-- <h1>forside</h1> -->
  <Header1 header1="Barselona" />
  <Breadcrumb2 />
  <Accordion />
</MainLayout>
