---
import "../styles/style.css";
import SecondLayout from "../layouts/SecondLayout.astro";
import Navigation2 from "../components/Navigation2.astro";

const data = await fetch("https://orihtpvviiwcpmwzboqr.supabase.co/rest/v1/eksamen", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yaWh0cHZ2aWl3Y3Btd3pib3FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYzNjY0NzEsImV4cCI6MjAzMTk0MjQ3MX0.D3VmybLu_cJTAhpmkfHnKtssujUzP4qg3XDV1owo6Cw",
  },
}).then((res) => res.json());

console.log(data);
---

<SecondLayout title="Forside">
  <main>
    <article class="hero">
      <div class="content">
        <div class="navigation">
          <Navigation2 />
        </div>
        <!-- <h1>forside</h1> -->
        <div class="text">
          <h1>BARSELONA</h1>
        </div>

        <div class="lyt">
          <a href="#musik" class="listen-link"> <img src="/iconer2/IconArrowDown.svg" alt="pil ned" /> LYT TIL NYESTE ALBUM</a>
        </div>
      </div>
    </article>
    <section id="musik" class="musik"></section>
  </main>
</SecondLayout>

<style>
  .hero {
    background-image: url(https://esterpiazza.dk/kea/10_eksamen/indhold/01_forside_barselona-hero-image.avif);
    background-size: cover;
    aspect-ratio: 16 / 9;

    padding-top: 20px;
    padding-inline: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 1600px;
  }
  .navigation {
    grid-area: 1 / 1 / 1 / 7;
    z-index: 1;
  }
  .text {
    margin: auto;
    grid-area: 4 / 1 / 7 / 7;
  }
  h1 {
    font-size: 8.5cqw;
  }
  .lyt {
    padding-top: 20px;
    grid-area: 5 / 3 / 6 / 6;
  }
  .lyt img {
    max-width: 30px;
    align-self: center;
  }
  .listen-link {
    display: flex;
    align-items: center;
  }

  .lyt a {
    font-size: var(--font_size_tiny);
  }
  .listen-link:hover {
    color: var(--color_blue);
    text-decoration: none;
  }

  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    .text {
      margin: auto;
      grid-area: 4 / 1 / 5 / 7;
    }

    .lyt {
      padding-top: 10px;
      grid-area: 5 / 3 / 6 / 5;
    }
    .lyt img {
      max-width: 30px;
    }
    .lyt a {
      font-size: var(--font_size_small);
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .hero {
      padding-top: 25px;
      padding-inline: 36px;
    }
    .content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(9, 1fr);
    }
    .text {
      margin: auto;
      grid-area: 6 / 1 / 8 / 7;
    }

    .lyt {
      padding-top: 20px;
      grid-area: 8 / 2 / 9 / 4;
    }
    .lyt img {
      max-width: 30px;
    }
    .lyt a {
      font-size: var(--font_size_regular);
    }
  }
</style>
