---
import "../styles/style.css";
const {} = Astro.props;
---

<article>
  <div class="video">
    <iframe src="https://www.youtube-nocookie.com/embed/F4R5EK9f6rI?si=OopOYv1hkjUe5j2u&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>

<style>
  iframe {
    width: 100%;
    height: auto;
  }
  article {
    /* display: grid;
    grid-template-columns: 1fr;
    align-items: center; */
  }
  .video {
    max-width: 304px;
  }
  .video_hover {
    grid-column: 1/1;
    grid-row: 1/1;
    display: none;
  }
  .video:hover {
    opacity: 50%;
  }
  .video_hover:hover {
    display: block;
  }
</style>
