---
import "../styles/style.css";
---

<footer>
  <!-- <hr /> -->
  <div class="content">
    <div class="logo">
      <img src="logo/LogoWhite.svg" alt="logo" />
    </div>
    <div class="sociale_links">
      <a href="https://www.facebook.com/barselonaband" target="_blank"><img src="/iconer/IconFacebook2.svg" alt="Facebook icon" /></a>
      <a href="https://www.instagram.com/barselona_officiel/?hl=da" target="_blank"> <img src="/iconer/IconInstagram2.svg" alt="Instagram icon" /></a>
      <a href="https://www.tiktok.com/@barselona_officiel" target="_blank"> <img src="/iconer/IconTikTok2.svg" alt="TikTok icon" /></a>
      <a href="https://open.spotify.com/artist/2wdsck730u8ZhDA7eVHw7m?si=3DAZsMWxTZ6tsM3FmmQ6GA&nd=1&dlsi=05d53ffe0bd648a3" target="_blank"> <img src="/iconer/IconSpotify2.svg" alt="Spotify icon" /></a>
      <a href="https://www.youtube.com/channel/UCr49KaBsStYVeuov4Qkjq-g" target="_blank"> <img src="/iconer/IconYoutube2.svg" alt="Youtube icon" /></a>
    </div>
    <div class="links">
      <a href="/9_kontakt">Kontakt</a>
      <a href="">Nyhedsbrev</a>
      <a href="2_koncerter">Koncerter</a>
    </div>
  </div>
  <hr />
  <div class="credits">
    <p>© 2024 Barselona</p>
    <div class="footer_links">
      <a href="/10_persondata">Persondatapolitik</a>
      <a href="/11_vilkaar">Vilkår og betingelser</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color_black);
    padding: 80px 36px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 64px;
    /* margin-top: 32px; */
  }
  .logo {
    max-width: 55px;
    height: auto;
  }
  .sociale_links {
    display: flex;
    /* height: auto; */
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .sociale_links:hover {
    background-color: var(--color_black);
  }
  .links {
    display: flex;
    gap: 32px;
    text-decoration: none;
  }
  .links a {
    font-weight: bold;
  }

  hr {
    width: 100%;
  }

  .credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 32px;
  }

  .footer_links {
    display: flex;
    gap: 24px;
  }
  .footer_links a {
    text-decoration: underline;
  }
  .footer_links a:hover {
    text-decoration: none;
  }
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>
