---
import "../styles/style.css";
const { header1 } = Astro.props;
---

<article class="content">
  <h1>{header1}</h1>
</article>

<style>
  article {
    padding-top: 80px;
  }
  h1 {
    padding-bottom: 24px;
  }
</style>
