---
import "../styles/style.css";
const { header1, header4 } = Astro.props;
---

<article class="content">
  <h1>{header1}</h1>
  <h4>{header4}</h4>
</article>

<style>
  article {
    text-align: center;
    padding-top: 80px;
  }

  h4 {
    text-transform: uppercase;
  }
</style>
