---
import "../styles/style.css";
const { h3, image, image_alt } = Astro.props;
---

<article>
  <div class="billede_indhold2">
    <img src={image} alt={image_alt} loading="lazy" />
  </div>
  <div class="tekst_indhold2">
    <h3>{h3}</h3>
    <slot />
  </div>
</article>

<style>
  article {
    display: grid;
    gap: 16px;
  }
  h3 {
    padding-bottom: 30px;
  }
  .tekst_indhold2 {
    order: -1;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }

    .tekst_indhold2 {
      order: 0;
    }
  }
</style>
