---
import "../styles/style.css";
import Button from "./Button.astro";
const { sted, dato, lokation, linket2 } = Astro.props;
---

<article>
  <hr />
  <div class="koncert">
    <div class="sted_dato">
      <h5>{sted}</h5>
      <div class="dato">
        <p>{dato}</p>
      </div>
    </div>
    <div class="lokation">
      <p>{lokation}</p>
    </div>
    <div class="knapper">
      <div class="knap1">
        <Button linket="https://www.ticketmaster.dk/artist/barselona-billetter/992110" style="secondary">Find billetter</Button>
      </div>
      <Button linket2="https://www.facebook.com/search/events/?q=Barselona&sde=AbrVxKua3d7Q7RQz7ZWPsa9be21FsYZGGfNj98HZhw7z4Jr8oNcvAkTnImoVykXdacbGlW6lojQ2wh8K7DGAbDnw&locale=da_DK" style="primary">Begivenhed</Button>
    </div>
  </div>
</article>

<style>
  .koncert {
    padding: 24px 0px;
  }

  h5 {
    text-transform: uppercase;
  }
  .sted_dato {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    gap: 16px;
  }
  .lokation {
    margin-bottom: 24px;
  }

  .dato {
    background-color: var(--color_lightgrey);
    padding: 4px 8px;
  }
  .dato p {
    font-size: var(--font_size_small);
    font-weight: medium;
    color: var(--color_black);
    font-weight: bold;
  }
  .knapper {
    display: flex;
  }
  .knap1 {
    padding-right: 10px;
  }
</style>
