---
import "../styles/style.css";
import Button from "./Button.astro";

const { sted, dato, lokation, buttonProps, buttonProps2 } = Astro.props; // Added buttonProps
---

<article>
  <hr />
  <div class="koncert">
    <div class="sted_dato">
      <h4>{sted}</h4>
      <div class="dato">
        <p>/ {dato}</p>
      </div>
    </div>
    <div class="lokation_knapper">
      <div class="lokation">
        <p>{lokation}</p>
      </div>
      <div class="knapper">
        <div class="knap1">
          {/* Pass buttonProps to the Button component */}
          <Button {...buttonProps} style="secondary">Find billetter</Button>
        </div>
        <Button {...buttonProps2} style="secondary">Begivenhed</Button>
      </div>
    </div>
  </div>
</article>

<style>
  .koncert {
    padding: 24px 0px;
  }

  h4 {
    text-transform: uppercase;
  }
  .sted_dato {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    gap: 10px;
  }
  .lokation {
    font-size: var(--font_size_small);
  }
  .dato p {
    font-size: var(--font_size_small);
    color: var(--color_white);
  }
  .knapper {
    display: flex;
    flex-wrap: wrap;
  }
  .knap1 {
    padding-right: 10px;
  }

  .lokation_knapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    .lokation_knapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .dato p {
      font-size: var(--font_size_regular);
    }
    .lokation {
      font-size: var(--font_size_regular);
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1024px) {
    /* Add desktop-specific styles here */
    .lokation_knapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    .dato p {
      font-size: var(--font_size_large);
    }
    .lokation {
      margin-bottom: 0px;
      font-size: var(--font_size_large);
    }
  }
</style>
