---
import "../styles/style.css";
const { style, linket } = Astro.props;
---

<a href={linket} class={style}><slot /></a>

<style>
  a {
    /* display: inline-block;
    font-size: 1rem;
    padding: 12px 36px;
    border-width: 0.8px;
    border-style: solid;
    text-decoration: none; */
    cursor: pointer;
    transition: all 0.55s ease;
  }

  .primary {
    text-decoration: none;
  }
  .primary:hover {
    text-decoration: underline;
  }

  .secondary {
    text-decoration: none;
    font-weight: bold;
  }
  .secondary:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  .tertiary {
    text-decoration: underline;
  }
  .tertiary:hover {
    text-decoration: none;
  }
</style>
