---
import "../styles/style.css";
const { overskrift, text } = Astro.props;
---

<article>
  <p class="overskrift_p">{overskrift}</p>
  <p class="text_p">{text}</p>
</article>

<style>
  article {
    padding-bottom: 64px;
  }
  .overskrift_p {
    font-weight: bold;
    font-size: var(--font_size_medium);
    padding-bottom: 16px;
  }

  .text_p {
    font-size: var(--font_size_regular);
    font-weight: normal;
  }
</style>
