---
import "../styles/style.css";
---

<article>
  <h5>Vores musikkatalog</h5>
</article>

<article class="musik">
  <div class="album">
    <a href="https://open.spotify.com/track/61YDJR6RjXaV8aiMIVlwvF?si=37b8e9084f2247ee" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/ardit_sang.avif" alt="Væbnet hjerte album" loading="lazy" /></a>
  </div>
  <div class="album">
    <a href="https://open.spotify.com/album/44WAdOT7BNFzQuz71Zuw1y?si=8LbF4_HcRV6IOo5-J63etA" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/1dag_album.avif" alt="1 dag er vi 1 minde album" loading="lazy" /></a>
  </div>
  <div class="album">
    <a href="https://open.spotify.com/album/1IrfYgdNAzSX4NzPB0pjKD?si=8uWeRZVZQhiJLPqspv5cAA" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/lege_album.avif" alt="Legebørn album" loading="lazy" /></a>
  </div>
  <div class="album">
    <a href="https://open.spotify.com/album/54WErhcavCQvFpBP4gt9ga?si=C8yw1VxAQxy3POa29OnzdQ" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/hjertebank_album.avif" alt="Hjertebank album" loading="lazy" /></a>
  </div>
  <div class="album">
    <a href="https://open.spotify.com/album/7z6nGM7xwKb7hyhRF7nnb1?si=nhs6fqYOSxK0pXCOmV8Lfg" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/drengepop.webp" alt="Drengepop EP" loading="lazy" /></a>
  </div>
  <div class="album">
    <a href="https://open.spotify.com/album/5PSUAJLJOEUvUpqqKHfKDJ?si=Het-3Uy5TgWC68vF4_aEcg" target="_blank"><img src="https://esterpiazza.dk/kea/10_eksamen/albums/sommerkys_album.avif" alt="Sommerkys EP" loading="lazy" /></a>
  </div>
</article>

<style>
  h5 {
    padding-bottom: 24px;
  }
  .musik {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .musik img {
    max-width: 379px;
    height: auto;
    margin: auto;
  }
  .album {
    border: 1px solid #a5a5a5;
    padding: 10px;
  }
  .album:hover {
    border: 1px solid #5884ae;
    padding: 5px;
  }
  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    h5 {
      padding-bottom: 64px;
    }
    .musik {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .musik {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 87px;
      justify-content: center;
      align-items: center;
    }
  }
</style>
