---
import "../styles/style.css";
const { overskrift, text, link } = Astro.props;
---

<article>
  <h6>{overskrift}</h6>
  <p>{text}</p>
  <div class="mail">
    <p>Mail:</p>
    <a href={link}> <slot /></a>
  </div>
</article>

<style>
  article {
    padding-bottom: 40px;
  }

  h4 {
    padding-bottom: 8px;
  }
  .mail {
    display: flex;
  }
  .mail p {
    padding-right: 8px;
  }
</style>
