---
import "../styles/style.css";
const { overskrift, text, link } = Astro.props;
---

<article>
  <h6>{overskrift}</h6>
  <p>{text}</p>
  <a href={link}> <slot /></a>
</article>

<style>
  article {
    padding-bottom: 40px;
  }

  h4 {
    padding-bottom: 8px;
  }
</style>
