---
import "../styles/style.css";
const { h3, image, image_alt } = Astro.props;
---

<article>
  <div class="tekst_indhold1">
    <h3>{h3}</h3>
    <slot />
  </div>
  <div class="tekst_indhold2">
    <img class="billede" src={image} alt={image_alt} loading="lazy" />
  </div>
</article>

<style>
  h3 {
    padding-bottom: 30px;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      align-items: center;
    }
  }
</style>
