---
import "../styles/style.css";
const {} = Astro.props;
---

<article>
  <div class="video_placeholder">
    <img src="https://esterpiazza.dk/kea/10_eksamen/Lightbox.png" alt="icon" />
  </div>
  <div class="content">
    <div class="titel">
      <h1>Barselona - Øjeblikke</h1>
    </div>
    <div class="share">
      <p>DEL</p>
      <a href="https://www.facebook.com/barselonaband" target="_blank"><img src="/iconer/IconFacebook2.svg" alt="Facebook icon" /></a>
      <a href="https://www.instagram.com/barselona_officiel/?hl=da" target="_blank"> <img src="/iconer/IconInstagram2.svg" alt="Instagram icon" /></a>
      <a href="https://www.tiktok.com/@barselona_officiel" target="_blank"> <img src="/iconer/IconTikTok2.svg" alt="TikTok icon" /></a>
      <a href="#" target="_blank"> <img src="/iconer/IconMessenger2.svg" alt="Messenger icon" /></a>
      <a href="#" target="_blank"> <img src="/iconer/IconWhatsapp3.svg" alt="Whatsapp icon" /></a>
    </div>
  </div>
</article>
<div class="sociale_links"></div>
<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
  }

  .video_placeholder {
    /* width: 616px;
    height: 347px;  */
  }
  .titel {
    padding-bottom: 32px;
  }
  .share {
    display: flex;
    gap: 16px;
  }
  .share img {
    max-width: 24px;
    height: auto;
  }
</style>
