---
import "../styles/style.css";
const {} = Astro.props;
---

<article>
  <div class="video-section">
    <div class="titel">
      <h1>Barselona - Øjeblikke</h1>
    </div>
  </div>
  <div class="youtube-player pristine" data-video-id="FiSxg_LNEFU">
    <img src="https://esterpiazza.dk/kea/10_eksamen/videoer/oejeblikke.avif" alt="custom-preview" />
  </div>
</article>

<style>
  article {
    padding-top: 80px;
  }
  .youtube-player {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    cursor: pointer;
  }
  .youtube-player img {
    border: 1px solid #a5a5a5;
    filter: brightness(60%);
    transition: 0.5s ease;
  }
  .youtube-player img:hover {
    border: 1px solid #5884ae;
    filter: brightness(100%);
  }
  .youtube-player.pristine::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -25px;
    height: 0;
    width: 0;
    border-left: 50px solid #ffffff;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    transition: opacity 1s ease;
    z-index: 1;
  }

  .youtube-player.pristine:hover::before {
    opacity: 0.7;
  }
  .titel {
    padding-bottom: 32px;
  }
  .share {
    display: flex;
    gap: 16px;
  }
  .share img {
    max-width: 24px;
    height: auto;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      align-items: center;
    }

    .youtube-player {
      order: -1;
    }
  }
</style>
<script>
  var players = document.querySelectorAll(".youtube-player");

  var loadPlayer = function (event) {
    var target = event.currentTarget;
    var iframe = document.createElement("iframe");

    iframe.height = target.clientHeight;
    iframe.width = target.clientWidth;
    iframe.src = "https://www.youtube-nocookie.com/embed/Y3hyZBspJr0?si=mTQBYP255oKDgcYA&controls=0" + target.dataset.videoId + "?autoplay=1";
    iframe.setAttribute("frameborder", 0);

    target.classList.remove("pristine");

    if (target.children.length) {
      target.replaceChild(iframe, target.firstElementChild);
    } else {
      target.appendChild(iframe);
    }
  };

  var config = { once: true };

  Array.from(players).forEach(function (player) {
    player.addEventListener("click", loadPlayer, config);
  });
</script>
